<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
        <title>Softgal Inc.</title>

        <!--[if lt IE 9]>
        <script type="text/javascript" src="js/ie-fixes.js"></script>
        <link rel="stylesheet" href="css/ie-fixes.css">
        <![endif]-->

        <meta name="description" content="Softgal Inc.">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--- This should placed first off all other scripts -->




        <link rel="stylesheet" href="css/revolution_settings.css">
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/font-awesome.css">
        <link rel="stylesheet" href="css/axfont.css">
        <link rel="stylesheet" href="css/tipsy.css">
        <link rel="stylesheet" href="css/prettyPhoto.css">
        <link rel="stylesheet" href="css/isotop_animation.css">
        <link rel="stylesheet" href="css/animate.css">



        <!-- remprod -->
        <link rel="stylesheet" href="css/_colorpicker.css">
        <!-- end remprod -->

        <link href='css/style.css' rel='stylesheet' type='text/css'> 
        <link href='css/responsive.css' rel='stylesheet' type='text/css'>

        <link href="css/skins/light-blue.css" rel='stylesheet' type='text/css' id="skin-file">

        <!-- remprod -->
        <style type="text/css" id="skin-chooser-css">

        </style>
        <!-- end remprod -->

        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>

        <!-- Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600' rel='stylesheet' type='text/css'>

        <!--[if lt IE 9]>
        <script type="text/javascript" src="js/respond.js"></script>
        <![endif]-->
        <link rel="stylesheet" href="css/color-chooser.css">
    </head>
    <body>

        <!-- remprod -->
        <script type="text/x-handlebars-template" id="css-skin">


            /* Loading */
            .double-bounce1, .double-bounce2{
            background-color: {{skin_color_rgba}};

            }

            /* Navigation */
            .navigation > li:hover > a,.navigation > li > a:hover,
            .navigation > li > .activelink,.navigation > li:hover > a > i, .navigation > li > a:hover > span.label-nav-sub::before, .navigation > li > a:focus > span.label-nav-sub::before{
            color: {{skin_color}};
            }
            .mobile-menu-button, .mobile-nav, .slider-fixed-container{   
            background-color: {{skin_color}};    
            }

            .navigation > li > a:after, .navigation>li>.activelink:after{
            background-color: {{skin_color}};
            }
            .navigation>li:hover > a > span.label-nav-sub::before,.navigation>li:hover> a > span.label-nav-sub::before{
            color: {{skin_color}};
            }


            /* Page Content Colors */
            .body-wrapper a:hover , .tab a:hover, accordion .title:hover, .top-body a:hover, .bottom-body a:hover
            ,.accordion .active h4, .accordion .title:hover h4, .side-navigation .menu-item.current-menu-item a, .side-navigation .menu-item:hover a:after,
            .side-navigation .menu-item:hover a, a.tool-tip, .team-member .team-member-position, .team-member-progress .team-member-position, .item-img-overlay i
            ,ul.icon-content-list-container li.icon-content-single .icon-box i,.item-img-overlay .portfolio-zoom:hover, .navigation ul li:hover>a, .blog_post_quote:after,
            .item-img-overlay .portfolio-zoom, body .white-text .feature-details a:hover{
            color: {{skin_color}};
            }
            ::selection
            {
            background-color:{{skin_color}};
            }
            ::-moz-selection
            {
            background-color:{{skin_color}};
            }
            .item-img-overlay  .portfolio-zoom:hover, .tab a.active {
            color: {{skin_color}} !important;
            }
            .callout-box{
            border-left-color: {{skin_color}}
            }
            .feature .feature-content,.team-member .team-member-content{
            border-top-color: {{skin_color}};
            }

            .progress .progress-bar{
            background-color: {{skin_color}};
            }
            .blog-masonry .blog_post_quote{
            border-top: 2px solid {{skin_color}};
            }
            .tab a.active:after {
            background-color:{{skin_color}};
            border-color: {{skin_color}};
            }
            .blog-post .blog-post-type,.subscribe-button{
            background: {{skin_color}};
            }
            .blog-post-details-item.blog-post-details-item-right a:hover i,.blog_post_quote .quote-author,.pagination > li > a.prev, 
            .pagination > li > a.next, .pagination > li > a:hover, .pagination > li > a.current,.testimonial-by-name{
            color: {{skin_color}};
            }
            .skin-text{
            color: {{skin_color}} !important;
            }
            body .section-content.section-image{
            background-color: {{skin_color_rgba}};
            }

            .item-img-overlay .item_img_overlay_content{
            background: {{skin_color}};
            }
            .button, .body-wrapper input[type="submit"], .body-wrapper input[type="button"], .section-content.section-color-bg,.content-box.content-style4 h4 i
            ,button.button-main,.body-wrapper .tags a:hover,.callout-box.callout-box2, .blog-search .blog-search-button, .top-title-wrapper, .testimonial-big,
            .content-style3:hover .content-style3-icon, table.table thead tr, .price-table .price-label-badge, .price-table .price-table-header, .section-subscribe .subscribe-button.icon-envelope-alt{
            background-color: {{skin_color}};
            }
            .rev-slider-full .button.btn-flat, .rev-slider-fixed .button.btn-flat{
            background-color: {{skin_color}};
            }
            .btn, input[type="submit"], input[type="button"], button.btn,.btn-primary{
            background-color: {{skin_color}};
            }
            .btn:hover, input[type="submit"]:hover, input[type="button"]:hover, button.btn:hover,.btn-primary:hover{
            background-color: {{skin_color}};

            }
            .btn:focus, input[type="submit"]:focus, input[type="button"]:focus, button.btn:focus,.btn-primary:focus{
            background-color: {{skin_color}};
            }
            .blog-post-icon,.comments-list .children .comment:before,.portfolio-filter li a.portfolio-selected, 
            .portfolio-filter li a:hover, .dropcaps.dropcaps-color-style, .carousel-container .carousel-icon:hover,
            .team-member-image.img-overlay .item_img_overlay_content{
            background-color: {{skin_color}};
            }
            .comments-list .children .comment:after{
            border-color: transparent transparent transparent {{skin_color}};;
            }

            .highlighted-text{
            background-color: {{skin_color}};
            color: #ffffff;
            }
            .icons-list.colored-list li:before, .blog-post-date .day, .blog-post-date .month, strong.colored, span.colored 
            ,.content-style3 .content-style3-icon, .content-box h4 i{
            color: {{skin_color}};
            }
            .content-box.content-style2 h4 i,.content-box.style5 h4 i{
            border-color: {{skin_color}};
            color: {{skin_color}};
            }
            .content-box.content-style2:hover i,.content-box.style5:hover i{
            background-color: {{skin_color}};
            }
            .pagination .prev, .pagination .next, .pagination a:hover, .pagination a.current, .price-table .price-label{
            color: {{skin_color}};
            }


            /* Footer Area Colors */

            .footer .copyright{
            border-color: {{skin_color}};
            }

            .flickr_badge_wrapper .flickr_badge_image img:hover{
            border-color: {{skin_color}};
            }


        </script>

        <!-- <script type="text/javascript"> var $default_skin = "light-blue";</script><div id="skin-chooser-container" class="skin-chooser-container hide-skin-chooser">
            <a href="" target="_blank" class="skin-save" id="skin-save"><i class="icon-arrow-down"></i> DOWNLOAD NEW SKIN </a>
            <div class="skin-chooser">

                <div class="skin-chooser-label">
                    Layout mode
                </div>
                <div class="skin-chooser-row skin-chooser-row-open">
                    <select id="layout-mode">
                        <option value="">Wide</option>
                        <option value="boxed">Boxed</option>
                    </select>
                </div>
                <div class="skin-chooser-label">
                    Predefined Skins
                </div>
                <div class="skin-chooser-row skin-chooser-row-open">
                    <div title="light-blue" class="predefined-skins light-blue" data-skinname="light-blue" style="background-color: #279FBB"></div>
                    <div title="green" class="predefined-skins green" data-skinname="green" style="background-color: #26ae91"></div>
                    <div title="red" class="predefined-skins red" data-skinname="red" style="background-color: #d14836"></div>
                    <div title="pink" class="predefined-skins pink" data-skinname="pink" style="background-color: #bb3b6b"></div>
                    <div title="light-purple" class="predefined-skins light-purple" data-skinname="light-purple" style="background-color: #bba6bb"></div>
                    <div title="orange" class="predefined-skins orange" data-skinname="orange" style="background-color: #dd6153"></div>
                    <div title="bright-green" class="predefined-skins bright-green" data-skinname="bright-green" style="background-color: #8cbb75"></div>
                    <div title="dark-blue" class="predefined-skins dark-blue" data-skinname="dark-blue" style="background-color: #2580b1"></div>
                    <div title="oil" class="predefined-skins oil" data-skinname="oil" style="background-color: #9b9e40"></div>
                    <div title="black" class="predefined-skins black" data-skinname="black" style="background-color: #5f5d5c"></div>
                    <div title="light-brown" class="predefined-skins light-brown" data-skinname="light-brown" style="background-color: #d06f71"></div>
                    <div title="coffee" class="predefined-skins coffee" data-skinname="coffee" style="background-color: #9d634c"></div>
                </div>

                <div class="skin-chooser-label">
                    Custom Colors
                </div>

                <div class="skin-chooser-row skin-chooser-row-open">
                    <div class="skin-chooser-elements">
                        <div class="color-chooser-group-label">
                            <i class="icon-angle-right"></i> Choose your skin color                    </div>
                        <div class="color-chooser-input">
                            <input type="text" name="skin_color" id="skin_color" class="input-colorpicker"
                                   value="#279FBB"/>
                            <label class="color-preview" for="skin_color"
                                   style="background-color: #279FBB"></label>
                        </div>
                    </div>
                </div>
                <div class="skin-chooser-label">
                    Patterns Background
                </div>

                <div class="skin-chooser-row skin-chooser-row-open">
                    <div class="pattern pattern-black-twill" data-body-class="bgpattern-black-twill"></div>
                    <div class="pattern pattern-dark-fish-skin" data-body-class="bgpattern-dark-fish-skin"></div>
                    <div class="pattern pattern-escheresque-ste" data-body-class="bgpattern-escheresque-ste"></div>
                    <div class="pattern pattern-grey" data-body-class="bgpattern-grey"></div>
                    <div class="pattern pattern-knitting250px" data-body-class="bgpattern-knitting250px"></div>
                    <div class="pattern pattern-p4" data-body-class="bgpattern-p4"></div>
                    <div class="pattern pattern-p5" data-body-class="bgpattern-p5"></div>
                    <div class="pattern pattern-p6" data-body-class="bgpattern-p6"></div>
                    <div class="pattern pattern-ps-neutral" data-body-class="bgpattern-ps-neutral"></div>
                    <div class="pattern pattern-pw-maze-white" data-body-class="bgpattern-pw-maze-white"></div>
                    <div class="pattern pattern-pw-pattern" data-body-class="bgpattern-pw-pattern"></div>
                    <div class="pattern pattern-retina-wood" data-body-class="bgpattern-retina-wood"></div>
                    <div class="pattern pattern-shattered" data-body-class="bgpattern-shattered"></div>
                    <div class="pattern pattern-subtle-dots" data-body-class="bgpattern-subtle-dots"></div>
                    <div class="pattern pattern-subtle-surface" data-body-class="bgpattern-subtle-surface"></div>
                    <div class="pattern pattern-whitediamond" data-body-class="bgpattern-whitediamond"></div>
                </div>

                <div class="skin-chooser-label">
                    Images Background
                </div>
                <div class="skin-chooser-row skin-chooser-row-open">
                    <div class="image-chooser tuscany-thumb" data-body-class="bg-tuscany"></div>
                    <div class="image-chooser tracks-thumb" data-body-class="bg-tracks"></div>
                    <div class="image-chooser blurred-lines-thumb" data-body-class="bg-blurred-lines"></div>
                    <div class="image-chooser mountain-thumb" data-body-class="bg-mountain"></div>
                </div>



            </div>
            <a href="#" class="arrow-left  icon-settings" id="show_hide_skin_chooser"></a>

        </div>
        end remprod -->


        <div id="wrapper"  >

            <div class="top_wrapper">
                <div class="top-bar">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-7">
                                <div class="call-us top-bar-block">
                                    <i class="icon-phone"></i>
                                    <span>
                                        Call us at 1- 514 - 909 - 0678
                                    </span>
                                </div>
                                <div class="mail-us top-bar-block">
                                    <i class="icon-email"></i>                            
                                    <span>
                                        E-mail: contat@softgal.ca
                                    </span>                            
                                </div>

                            </div>
                            <div class="col-sm-5">

                                <!-- Search Box -->
                                <div class="searchbox">
                                    <form action="#" method="get">
                                        <input type="text" class="searchbox-inputtext" id="searchbox-inputtext" name="s" placeholder="Search.."/>
                                        <label class="searchbox-icon" for="searchbox-inputtext"></label>
                                        <input type="submit" class="searchbox-submit" value="Search"/>
                                    </form>
                                </div>
                                <!-- //Search Box// -->
                                <div class="social-icons">
                                    <ul>
                                        <li>
                                            <a href="#" target="_blank" class="social-media-icon facebook-icon" data-original-title="facebook">facebook</a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank" class="social-media-icon twitter-icon" data-original-title="twitter">twitter</a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank" class="social-media-icon googleplus-icon" data-original-title="googleplus">googleplus</a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank" class="social-media-icon pininterest-icon" data-original-title="pininterest">pininterest</a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank" class="social-media-icon dribble-icon" data-original-title="dribble">dribble</a>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Header -->
                <header id="header">
                    <div class="container">

                        <div class="row header">

                            <!-- Logo -->
                            <div class="col-xs-2 logo">
                                <a href="index.html">
                                    <img src="images/softgal_logo.png" alt="Softgal Inc." height="42"/>
                                </a>
                            </div>
                            <!-- //Logo// -->


                            <!-- Navigation File -->
                            <div class="col-md-10">

                                <!-- Mobile Button Menu -->
                                <div class="mobile-menu-button">
                                    <i class="fa fa-list-ul"></i>
                                </div>
                                <!-- //Mobile Button Menu// -->
								
                                <nav>
                                    <ul class="navigation">
                                        <li>
                                            <a href="index.html">
                                                <span class="label-nav">
                                                    Solutions
                                                </span>                                               
                                            </a>
                                            <ul>
                                                <li>
                                                    <a href="#">Service TI</a>
                                                </li>
                                                <li>
                                                    <a href="#">Mobile</a>
                                                </li>
                                                <li>
                                                    <a href="#">Banque</a>
                                                </li>
                                                <li>
                                                    <a href="#">Transfert d'argent</a>
                                                </li>                                
                                                                                   
                                            </ul>  
                                        </li>
                                        <li>
                                            <a href="about-us.html">
                                                <span class="label-nav">
                                                    A Propos
                                                </span>                                                
                                            </a>
                                            <ul>
                                                <li>
                                                    <a href="#"> Mission </a>
                                                </li>
                                                <li>
                                                    <a href="#"> Équipe </a>
                                                </li>
                                                <li>
                                                    <a href="#"> FAQ </a>
                                                </li>                          
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="blog.html">
                                                <span class="label-nav">
                                                    Approche
                                                </span>
                                                
                                            </a>
                                            <ul>
                                                <li>
                                                    <a href="#">Notre savoir faire</a>
                                                </li>
												 <li>
                                                    <a href="#">Notre valeur ajoutée</a>
                                                </li>
                                               
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="portfolio-two-columns.html">
                                                <span class="label-nav">
                                                    Emplois
                                                </span>
												 
                                            </a>
                                            <ul>
                                                <li>
                                                    <a href="#">Postes ouverts</a>
                                                </li>
                                                <li>
                                                    <a href="#">Références</a>
                                                </li>
                                                 
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="elements.html">
                                                <span class="label-nav">
                                                    Contact
                                                </span> 
                                            </a>
                                            <ul>
                                                <li>
                                                    <a href="#"> Contact</a>
                                                </li> 
                                            </ul>
                                        </li>
                                    </ul>

                                </nav>

                                <!-- Mobile Nav. Container -->
                                <ul class="mobile-nav">
                                    <li class="responsive-searchbox">
                                        <!-- Responsive Nave -->
                                        <form action="#" method="get">
                                            <input type="text" class="searchbox-inputtext" id="searchbox-inputtext-mobile" name="s" />
                                            <button class="icon-search"></button>
                                        </form>
                                        <!-- //Responsive Nave// -->
                                    </li>
                                </ul>
                                <!-- //Mobile Nav. Container// -->
                            </div>
                            <!-- Nav -->

                        </div> 
                    </div>
                </header>
                <!-- //Header// -->
                <div class="rev-slider-full">
                    <div class="rev-slider-banner-full  rev-slider-full">
                        <ul> 
                            <li data-transition="fade" data-slotamount="7" data-masterspeed="300" >
                                <img src="images/placeholders/slider1/Jamaica.jpg"  alt="rev-full1" data-fullwidthcentering="on">

                               <!--<div class="tp-caption lft stb stl"
                                     data-x="650"
                                     data-y="93"
                                     data-speed="500"
                                     data-start="500"
                                     data-easing="easeOutExpo"   data-end="6000" data-endspeed="500"><img src="images/placeholders/slider1/imac.png1" alt="Image 1"></div>

                                <div class="tp-caption lfb stb stl"
                                     data-x="616"
                                     data-y="194"
                                     data-speed="500"
                                     data-start="700"
                                     data-easing="easeOutExpo"   data-end="6000" data-endspeed="500"><img src="images/placeholders/slider1/ipad.png1" alt="Image 1"></div>

                                <div class="tp-caption lfr stb stl"
                                     data-x="751"
                                     data-y="290"
                                     data-speed="1000"
                                     data-start="1000"
                                     data-easing="easeOutExpo"   data-end="6000" data-endspeed="500"><img src="images/placeholders/slider1/iphone.png1" alt="Image 1"></div>
								-->
                                <div class="tp-caption slider-text-title sft str"
                                     data-x="20"
                                     data-y="150"
                                     data-speed="300"
                                     data-start="800"
                                     data-easing="easeOutCubic" data-end="6000" data-endspeed="500">Transfert d'argent</div>


                                <div class="tp-caption slider-text-description sft str"  data-x="20" data-y="200" data-start="1000"
										data-easing="easeOutBack" data-end="4500" data-endspeed="500"
										style="color:white">
                                    Les banques vous prennent de 3 à 5% sur vos virements via des frais cachés.</br> Avec l'application TransfertMobile de Softgal, vous économisez jusqu'à 90%. </br>TransfertMobile est une plateforme securitaire , simple et rapide.						 
									
                                </div>
                                <div class="tp-caption slider-text-description sft str"  data-x="20" data-y="280" data-start="1500" data-easing="easeOutBack"data-end="5000" data-endspeed="500">   
									</br> </br>
									 <a href="#" class="button btn-flat">Plus d'info</a>
                                </div>                  

                            </li>


                            <li  data-transition="slideleft" data-slotamount="14">
                                <img src="images/placeholders/slider1/sendtopupworldwide.jpg" alt="Rev Full">

                                <div class="caption sfb" data-x="693" data-y="75" data-speed="700" data-start="0"
                                     data-easing="easeOutBack">
                                    <img src="images/placeholders/slider1/mobile.png" alt=""/>
                                </div>

                                <div class="tp-caption slider-text-title sft str"
                                     data-x="20"
                                     data-y="150"
                                     data-speed="300"
                                     data-start="800"
                                     data-easing="easeOutCubic" data-end="6000" data-endspeed="500">Crédits Téléphoniques</div>


                                <div class="tp-caption slider-text-description sft str"  data-x="20" data-y="200" data-start="1000" 
										data-easing="easeOutBack" data-end="4500" data-endspeed="500"
										style="color:white">
                                    Les meilleurs tarifs pour les appels internationaux. </br>
									Faites parti de la résolution du mobile !									
									
                                </div>
                                <div class="tp-caption slider-text-description sft str"  data-x="20" data-y="280" data-start="1500" data-easing="easeOutBack"data-end="5000" data-endspeed="500">
                                    <a href="#" class="button btn-flat">Plus d'info</a>
                                </div>                

                            </li>

                        </ul>
                        <div class="tp-bannertimer tp-bottom"></div>
                    </div>
                </div></div><!--.top wrapper end -->

            <div class="loading-container">
                <div class="spinner">
                    <div class="double-bounce1"></div>
                    <div class="double-bounce2"></div>
                </div>
            </div>


            <div class="content-wrapper hide-until-loading">

                <div class="section-content top-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3 col-sm-3"> 
                                <div class="content-box content-style4 medium animated"
                                     data-animtype="fadeIn"
                                     data-animrepeat="0"
                                     data-animspeed="1s"
                                     data-animdelay="0.2s"
                                     >
                                    <h4 class="h4-body-title">
                                        <i class="icon-file-settings"></i>
                                        Service TI
                                    </h4>
                                    <div class="content-box-text">
                                        SOFTGAL  est un Groupe informatique spécialisé dans le  conseil en stratégie,</br> organisation et transformation d’entreprises, d’audit et de prestations</br> en systèmes d’information, notamment dans l’édition de progiciels.

                                        <div>
                                            <a href="#" class=" btn btn-sm">
                                                <span>read more</span>
                                            </a>
                                        </div>

                                    </div>

                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3"> 
                                <div class="content-box content-style4 medium animated"
                                     data-animtype="fadeIn"
                                     data-animrepeat="0"
                                     data-animspeed="1s"
                                     data-animdelay="0.2s"
                                     >
                                    <h4 class="h4-body-title">
                                        <i class="icon-phone"></i>
                                       Mobile
                                    </h4>
                                    <div class="content-box-text">
                                        Accompagnement ​
										SOFTGAL accompagne ses clients dans la conduite de leurs projets de mise en place ou d’évolution de Systèmes d’Information par une offre d’assistance à la maîtrise d’ouvrage.
										
										Organisation
										SOFTGAL assiste ses clients dans la conception et la mise en œuvre de leurs stratégies de transformation d’entreprise par une offre de refonte et d’optimisation de leurs processus métiers, d’élaboration de procédures et de schémas directeurs.										 
										 
										Audit
										SOFTGAL assiste ses clients dans la sécurisation de leurs activités par l’établissement de plans d’audit pluriannuels, la conception de recueils de sécurisation des processus opératoires, l’élaboration de guides pratiques de contrôle interne, l’audit organisationnel et technique de leur système d’information.

                                        <div>
                                            <a href="#" class=" btn btn-sm">
                                                <span>read more</span>
                                            </a>
                                        </div>

                                    </div>

                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3"> 
                                <div class="content-box content-style4 medium animated"
                                     data-animtype="fadeIn"
                                     data-animrepeat="0"
                                     data-animspeed="1s"
                                     data-animdelay="0.2s"
                                     >
                                    <h4 class="h4-body-title">
                                        <i class="icon-banknote"></i>
                                        Banque
                                    </h4>
                                    <div class="content-box-text">
                                       									 
										Solution Mobile Money
										 
										Avec nos solutions Mobile Money, les opérateurs télécom et les institutions financières peuvent proposer facilement des services bancaires de manière sécurisée.
										 
										Solution Mobile banking
										
										Une application mobile destinée aux banques pour mieux faciliter l’accès aux populations à des services bancaires sur téléphones mobiles
										 
										Solution Mpos
										 
										Des solutions simples de paiement sur mobile pour faciliter le développement de la monnaie électronique dans les pays en voie de développement.

                                        <div>
                                            <a href="#" class=" btn btn-sm">
                                                <span>read more</span>
                                            </a>
                                        </div>

                                    </div>

                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3"> 
                                <div class="content-box content-style4 medium animated"
                                     data-animtype="fadeIn"
                                     data-animrepeat="0"
                                     data-animspeed="1s"
                                     data-animdelay="0.2s"
                                     >
                                    <h4 class="h4-body-title">
                                        <i class="icon-data"></i>
                                        Transfert d'argent
                                    </h4>
                                    <div class="content-box-text">
                                        Des solutions de transferts d’argent  simplifiées et sécurisées pour les acteurs financiers </br>
										
										Avec les solutions Mobile wallet et Mobile Money, le transfert à partir de téléphone permet aux utilisateurs d’éviter de se déplacer et de faire des opérations sécurisées

                                        <div>
                                            <a href="#" class=" btn btn-sm">
                                                <span>read more</span>
                                            </a>
                                        </div>

                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>

                </div>

                <div class="body-wrapper">

                      
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4 col-sm-4">
                                <div class="content-box content-style3">

                                    <div class="content-style3-icon icon-users-outline"></div>
                                    <div class="content-style3-title">
                                        <h4 class="h4-body-title"> Notre communauté</h4>
                                    </div>
                                    <div class="content-style3-text">
                                        Opérateurs télécom </br>
										Institutions financières </br>
										Banques </br>
										Diaspora africaine
                                    </div>

                                </div>                </div>
                            <div class="col-md-4 col-sm-4">
                                <div class="content-box content-style3">

                                    <div class="content-style3-icon icon-megaphone"></div>
                                    <div class="content-style3-title">
                                        <h4 class="h4-body-title">Nos annonces</h4>
                                    </div>
                                    <div class="content-style3-text">
                                       Lancement d'une plateforme de transfert d'argent, d'achat de credits (top up).
                                    </div>

                                </div>                </div>
                            <div class="col-md-4 col-sm-4">
                                <div class="content-box content-style3">

                                    <div class="content-style3-icon fa fa-css3"></div>
                                    <div class="content-style3-title">
                                        <h4 class="h4-body-title">Technologies utilisées</h4>
                                    </div>
                                    <div class="content-style3-text">
                                        Le groupe Softgal est un partenaire Microsoft </br>
										Les plus récentes techonologies sont utilisées  </br>
									    dans un contexte développement AGILE </br>
										Telerik </br>
										Solutions Cloud & Saas </br>
										Microsoft Azure</br>
										
										
                                    </div>

                                </div>                </div>
                        </div>
                    </div>
                </div>
                                    <!-- //Portfolio Item// -->
                                    <!-- Portfolio Item -->
                                   
                                    <!-- //Portfolio Item// -->
                                    <!-- Portfolio Item -->
                                    
                                    <!-- //Portfolio Item// -->
                                    <!-- Portfolio Item -->
                                     
                                    <!-- //Portfolio Item// -->
                                    <!-- Portfolio Item -->
                                    
                                    <!-- //Portfolio Item// -->
                                    <!-- Portfolio Item -->
                                    
                                    <!-- //Portfolio Item// -->
                                    <!-- Portfolio Item -->
                                   
                                    <!-- //Portfolio Item// -->
 

                    </div>
                    <div class="space-sep40"></div>

                    <div class="section-content section-tabs section-px stones-bg white-text">
                        <div class="tab-container">
                            <div class="section-tab-arrow"></div>
                            <div class="section-etabs-container">
                                <ul class="section-etabs">
                                    
                                    <li class="tab">
                                        <a href="#tabc2"> Nos partenaires</a>
                                    </li>
                                    <li class="tab">
                                        <a href="#tabc3"> Bulletin de nouvelles</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="container">

							<div id="tabc2">
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12">
                                               
                                                <ul class="section-clients">
                                                    <li class="animated" data-animtype="bounceIn" data-animrepeat="0" data-animdelay="0.2s"><img src="images/placeholders/clients/Orange.png" alt="Logo" class="img-responsive client-image" style="height:103px" /></li>
                                                    <li class="animated" data-animtype="bounceIn" data-animrepeat="0" data-animdelay="0.3s"><img src="images/placeholders/clients/MicrosoftPartner1.jpg" alt="Logo" class="img-responsive client-image" style="height:103px"/></li>
                                                    <li class="animated" data-animtype="bounceIn" data-animrepeat="0" data-animdelay="0.4s"><img src="images/placeholders/clients/Cloud.png" alt="Logo" class="img-responsive client-image" style="height:103px"/></li>
                                                    <li class="animated" data-animtype="bounceIn" data-animrepeat="0" data-animdelay="0.5s"><img src="images/placeholders/clients/Telerik.png" alt="Logo" class="img-responsive client-image" style="height:103px"/></li>
                                                    <li class="animated" data-animtype="bounceIn" data-animrepeat="0" data-animdelay="0.6s"><img src="images/placeholders/clients/GlobalPayment.jpg" alt="Logo" class="img-responsive client-image" style="height:103px"/></li>
                                                </ul>
                                            </div>
                                        </div>            </div>
                                    <div id="tabc3">
                                        <h2 class="h2-section-title animated" data-animtype="flipInY"
                                            data-animrepeat="0"
                                            data-speed="1s"
                                            data-delay="0.2s">
                                            S'abonner au bulletin de nouvelles
                                        </h2>
                                        <div class="section-subscribe animated" data-animtype="flipInX"
                                             data-animrepeat="0"
                                             data-speed="1s"
                                             data-delay="0.5s">
                                            <form action="#" method="post">
                                                <input type="text" name="q" class="subscribe-input text-input" placeholder="Email.."/>
                                                <button class="subscribe-button icon-email-plane">

                                                </button>
                                            </form>

                                            <div class="social-icons circle">

                                                <a href="#" target="_blank" class="social-media-icon facebook-icon bounceIn" data-original-title="facebook">facebook</a>

                                                <a href="#" target="_blank" class="social-media-icon twitter-icon bounceIn" data-original-title="twitter">Twitter</a>

                                                <a href="#" target="_blank" class="social-media-icon skype-icon bounceIn" data-original-title="skype">skype</a>

                                                <a href="#" target="_blank" class="social-media-icon evernote-icon bounceIn" data-original-title="evernote">evernote</a>

                                                <a href="#" target="_blank" class="social-media-icon flickr-icon bounceIn" data-original-title="flickr">flickr</a>

                                                <a href="#" target="_blank" class="social-media-icon instagram-icon bounceIn" data-original-title="instagram">instagram</a>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>    </div>

                    <div class="section-content no-padding">


                        <div class="container">

                            <div class="row">
                                <div class="col-md-12 col-sm-12 animated" data-animtype="fadeInUp"
                                     data-animrepeat="0"
                                     data-speed="1s"
                                     data-delay="0.4s">
                                    <h2 class="h2-section-title">Nos réalisations</h2>

                                    <div class="i-section-title">
                                        <i class="icon-zoom-in">

                                        </i>
                                    </div>

                                    <h3 class="h3-section-info">
                                        TransfertMobile est une application mulitiplateforme web et mobile </br>
										qui permet d'acheter du credit téléphonique, de transférer de l'argent dans le confort </br>
										de votre salon.
                                    </h3>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-12 col-sm-12 no-bottom-margin animated" data-animtype="fadeInUp"
                                     data-animrepeat="0"
                                     data-animspeed="1s"
                                     data-animdelay="0.7s">
                                    <img src="images/placeholders/responsive-mockup2-placeholder.png" alt="MockUp" class="img-responsive" />
									
                                </div>
								
                            </div>
                        </div>
                    </div>

                    <div class="space-sep40"></div>

                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 animated" data-animtype="fadeInUp"
                                 data-animrepeat="0"
                                 data-speed="1s"
                                 data-delay="0.4s">
                                <h2 class="h2-section-title">Notre valeur ajoutée</h2>

                                <div class="i-section-title">
                                    <i class="icon-drive">
                                    </i>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 right-text">
                                <ul class="icon-content-list-container">

                                    <li class="icon-content-single">

                                        <div class="content-box  style5  animated "
                                             data-animtype="fadeIn"
                                             data-animrepeat="0"
                                             data-animspeed="1s"
                                             data-animdelay="0.2s"
                                             >
                                            <h4 class="h4-body-title">
                                                <strong>Design </strong>Responsive             

                                                <i class="icon-ipad"></i>
                                            </h4>
                                            											
											 <div class="content-box-text">
                                                <p> 
                                                    SOFTGAL assiste ses clients dans la conception et la mise en œuvre de leurs stratégies de transformation d’entreprise par une offre de refonte et d’optimisation de leurs processus métiers, d’élaboration de procédures et de schémas directeurs.		
													</br>						
													</br>						
                                                </p>
                                            </div>
                                        </div>
										
										
                                    </li>

                                    <li class="icon-content-single">

                                        <div class="content-box  style5  animated "
                                             data-animtype="fadeIn"
                                             data-animrepeat="0"
                                             data-animspeed="1s"
                                             data-animdelay="0.2s"
                                             >
                                            <h4 class="h4-body-title">
                                                <strong>Agile </strong> Scrum            

                                                <i class="icon-settings"></i>
                                            </h4>
                                            <div class="content-box-text">
                                                <p> 
                                                    Softgal adopte la méthodologie de développement Agile pour la  
													réalisation de ses projets. Le client est coeur du processus de  
													développement.
                                                </p>
                                            </div>
                                        </div>
                                    </li>
 

                                    <li class="icon-content-single">

                                        <div class="content-box  style5  animated "
                                             data-animtype="fadeIn"
                                             data-animrepeat="0"
                                             data-animspeed="1s"
                                             data-animdelay="0.2s"
                                             >
                                            <h4 class="h4-body-title">
                                                <strong>Mobile </strong> Money            

                                                <i class="icon-file-settings"></i>
                                            </h4>
                                            <div class="content-box-text">
                                                <p> 
                                                    Avec nos solutions Mobile Money, les opérateurs télécom et les institutions financières peuvent proposer facilement des services bancaires de manière sécurisée.
                                                </p>
                                            </div>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <ul class="icon-content-list-container">

                                    <li class="icon-content-single">

                                        <div class="content-box  style5  animated "
                                             data-animtype="fadeIn"
                                             data-animrepeat="0"
                                             data-animspeed="1s"
                                             data-animdelay="0.2s"
                                             >
                                            <h4 class="h4-body-title">
                                                <strong>Accompagnement </strong>             

                                                <i class="icon-eye"></i>
                                            </h4>
                                            <div class="content-box-text">
                                                <p>                                                     
													SOFTGAL assiste ses clients dans la sécurisation de leurs activités par l’établissement de plans d’audit pluriannuels, la conception de recueils de sécurisation des processus opératoires, l’élaboration de guides pratiques de contrôle interne, l’audit organisationnel et technique de leur système d’information.
                                                </p>
                                            </div>
											
											
                                        </div>
                                    </li>

                                    <li class="icon-content-single">

                                        <div class="content-box  style5  animated "
                                             data-animtype="fadeIn"
                                             data-animrepeat="0"
                                             data-animspeed="1s"
                                             data-animdelay="0.2s"
                                             >
                                            <h4 class="h4-body-title">
                                                <strong>Organisation </strong>             

                                                <i class="icon-world"></i>
                                            </h4>
                                            <div class="content-box-text">
                                                <p> 
                                                    Les applications de Softgal sont design responsive avec un design fait par des experts reconnus dans la communauté
                                                </p>
                                            </div>
                                        </div>
                                    </li>
 
                                    <li class="icon-content-single">

                                        <div class="content-box  style5  animated "
                                             data-animtype="fadeIn"
                                             data-animrepeat="0"
                                             data-animspeed="1s"
                                             data-animdelay="0.2s"
                                             >
                                            <h4 class="h4-body-title">
                                                <strong>Mobile </strong> Banking            

                                                <i class="icon-lab"></i>
                                            </h4>
                                            <div class="content-box-text">
                                                <p> 
                                                   Une application mobile destinée aux banques pour mieux faciliter l’accès aux populations à des services bancaires sur téléphones mobiles
                                                </p>
                                            </div>
                                        </div>
                                    </li>

                                </ul>
                            </div>

                        </div>
                    </div>

                </div>


                <div class="testimonial-big">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-10 col-sm-10">
                                <div class="testimonial-big-text animated" data-animtype="fadeInRight"
                                     data-animrepeat="1"
                                     data-speed="1s"
                                     data-delay="0s">
                                    Faites partie de la révolution du mobile.
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-2">
                                <div class="testimonial-big-img animated" data-animtype="fadeInLeft"
                                     data-animrepeat="1"
                                     data-speed="1s"
                                     data-delay="0s">
                                    <img src="images/placeholders/testimonial-big.png" alt=""/>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div><!--.content-wrapper end -->
            <footer>
                <div class="footer">

                    <div class="container">
                        <div class="footer-wrapper">
                            <div class="row">


                                <!-- Footer Col. -->
                                
                                <!-- //Footer Col.// -->


                                <!-- Footer Col. -->
                                <div class="col-md-3 col-sm-3 footer-col">
                                    <div class="footer-title">
                                         Tweets Récents
                                    </div>
                                    <div class="footer-content footer-recent-tweets-container">
                                        <ul class="tweetList footer-recent-tweets">
                                            <li class="tweet_content item">
                                                <p>Le portail Transfert Mobile de Softgal une application sécuritaire et simple à utiliser </p>
                                                <p class="timestamp">Posté Il y a 2 jours</p>
                                            </li>
                                            <li class="tweet_content item">
                                                <p>Softgal vient de signer une entente avec la BOAD</p>
                                                <p class="timestamp">Posté Il y a 4 jours</p>
                                            </li>
                                        </ul>                            

                                    </div>
                                </div>
                                <!-- //Footer Col.// -->


                                <!-- Footer Col. -->
                                <div class="col-md-3 col-sm-3 footer-col">
                                    <div class="footer-title">
                                        Liens
                                    </div>
                                    <div class="footer-content">
                                        <ul class="footer-category-list">
                                            <li>
                                                <a href="">Solutions TI</a>
                                            </li>
                                            <li>
                                                <a href="">Solutions mobiles</a>
                                            </li>
                                            <li>
                                                <a href="">Solutions bancaires</a>
                                            </li>
                                            <li>
                                                <a href="">Transfert d'argent</a>
                                            </li>
                                            <li>
                                                <a href="">A propos</a>
                                            </li>
                                            <li>
                                                <a href="">Approche</a>
                                            </li>
                                            <li>
                                                <a href="">Emplois</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- //Footer Col.// -->


                                <!-- Footer Col. -->
                                <div class="col-md-3 col-sm-3 footer-col">
                                    <div class="footer-content">
                                        <div class="footer-content-logo">
                                            <img src="images/softgal_logo.png" alt="Softgal Inc." height="42"/>
                                        </div>
                                        <div class="footer-content-text">
												 
												<p>Tel. : (514) 660 0134 </br>
												Fax : (514) 400 5866 </br>												 
												363 Lucien Millette </br>
												Suite 102 </br>
												Saint Hubert, QC, J3Y 9H1 </br>												 
												Email : contact@softgal.ca </p> 
                                        </div>
                                    </div>
                                </div>
								
								<div class="col-md-3 col-sm-3 footer-col">
                                    <div class="footer-content">
                                        <div class="footer-content-logo">
                                            <img src="" alt="Softgal Inc." height="42"/>
                                        </div>
                                        <div class="footer-content-text">
												<p>Tel. : (221) 33 864 7268   </br>      
												Fax  : (221) 33 822 9900	</br> 
												Point E Rue A X 8  1er Étage  </br>                                   
												Dakar  Sénégal				  </br>					 
												Email : contact@softgal.sn </p>                                
												 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="copyright">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 center-text">
                                    <div class="copyright-text">&copy; 2014, Groupe Informatique Softgal. Tous droits réservés <a href="http://www.softgal.ca" target="_blank">www.softgal.ca</a></div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </footer>

        </div><!-- wrapper end -->

        <script type="text/javascript" src="js/_jq.js"></script>

        <script type="text/javascript" src="js/_jquery.placeholder.js"></script>

        <!-- remprod -->
        <script type="text/javascript" src="js/_colorpicker.js"></script>
        <script type="text/javascript" src="js/_handlebars.js"></script>
        <script type="text/javascript" src="js/_skins.js"></script>
        <script type="text/javascript" src="js/_skinchooser.js"></script>
        <!-- end remprod -->




        <script src="js/activeaxon_menu.js" type="text/javascript"></script> 
        <script src="js/animationEnigne.js" type="text/javascript"></script> 
        <script src="js/bootstrap.min.js" type="text/javascript"></script> 
        <script src="js/ie-fixes.js" type="text/javascript"></script> 
        <script src="js/jq.appear.js" type="text/javascript"></script> 
        <script src="js/jquery.base64.js" type="text/javascript"></script> 
        <script src="js/jquery.carouFredSel-6.2.1-packed.js" type="text/javascript"></script> 
        <script src="js/jquery.cycle.js" type="text/javascript"></script> 
        <script src="js/jquery.cycle2.carousel.js" type="text/javascript"></script> 
        <script src="js/jquery.easing.1.3.js" type="text/javascript"></script> 
        <script src="js/jquery.easytabs.js" type="text/javascript"></script> 
        <script src="js/jquery.infinitescroll.js" type="text/javascript"></script> 
        <script src="js/jquery.isotope.js" type="text/javascript"></script> 
        <script src="js/jquery.prettyPhoto.js" type="text/javascript"></script> 
        <script src="js/jQuery.scrollPoint.js" type="text/javascript"></script> 
        <script src="js/jquery.themepunch.plugins.min.js" type="text/javascript"></script> 
        <script src="js/jquery.themepunch.revolution.js" type="text/javascript"></script> 
        <script src="js/jquery.tipsy.js" type="text/javascript"></script> 
        <script src="js/jquery.validate.js" type="text/javascript"></script> 
        <script src="js/jQuery.XDomainRequest.js" type="text/javascript"></script> 
        <script src="js/kanzi.js" type="text/javascript"></script> 
        <script src="js/retina.js" type="text/javascript"></script> 
        <script src="js/timeago.js" type="text/javascript"></script> 
        <script src="js/tweetable.jquery.js" type="text/javascript"></script> 
    </body>
</html>
