<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
        <title>Kanzi HTML5 Template</title>

        <!--[if lt IE 9]>
        <script type="text/javascript" src="js/ie-fixes.js"></script>
        <link rel="stylesheet" href="css/ie-fixes.css">
        <![endif]-->

        <meta name="description" content="Kanzi HTML5 Template">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--- This should placed first off all other scripts -->




        <link rel="stylesheet" href="css/revolution_settings.css">
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/font-awesome.css">
        <link rel="stylesheet" href="css/axfont.css">
        <link rel="stylesheet" href="css/tipsy.css">
        <link rel="stylesheet" href="css/prettyPhoto.css">
        <link rel="stylesheet" href="css/isotop_animation.css">
        <link rel="stylesheet" href="css/animate.css">



        <!-- remprod -->
        <link rel="stylesheet" href="css/_colorpicker.css">
        <!-- end remprod -->

        <link href='css/style.css' rel='stylesheet' type='text/css'> 
        <link href='css/responsive.css' rel='stylesheet' type='text/css'>

        <link href="css/skins/light-blue.css" rel='stylesheet' type='text/css' id="skin-file">

        <!-- remprod -->
        <style type="text/css" id="skin-chooser-css">

        </style>
        <!-- end remprod -->

        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>

        <!-- Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600' rel='stylesheet' type='text/css'>

        <!--[if lt IE 9]>
        <script type="text/javascript" src="js/respond.js"></script>
        <![endif]-->
        <link rel="stylesheet" href="css/color-chooser.css">
    </head>
    <body>

        <!-- remprod -->
        <script type="text/x-handlebars-template" id="css-skin">


            /* Loading */
            .double-bounce1, .double-bounce2{
            background-color: {{skin_color_rgba}};

            }

            /* Navigation */
            .navigation > li:hover > a,.navigation > li > a:hover,
            .navigation > li > .activelink,.navigation > li:hover > a > i, .navigation > li > a:hover > span.label-nav-sub::before, .navigation > li > a:focus > span.label-nav-sub::before{
            color: {{skin_color}};
            }
            .mobile-menu-button, .mobile-nav, .slider-fixed-container{   
            background-color: {{skin_color}};    
            }

            .navigation > li > a:after, .navigation>li>.activelink:after{
            background-color: {{skin_color}};
            }
            .navigation>li:hover > a > span.label-nav-sub::before,.navigation>li:hover> a > span.label-nav-sub::before{
            color: {{skin_color}};
            }


            /* Page Content Colors */
            .body-wrapper a:hover , .tab a:hover, accordion .title:hover, .top-body a:hover, .bottom-body a:hover
            ,.accordion .active h4, .accordion .title:hover h4, .side-navigation .menu-item.current-menu-item a, .side-navigation .menu-item:hover a:after,
            .side-navigation .menu-item:hover a, a.tool-tip, .team-member .team-member-position, .team-member-progress .team-member-position, .item-img-overlay i
            ,ul.icon-content-list-container li.icon-content-single .icon-box i,.item-img-overlay .portfolio-zoom:hover, .navigation ul li:hover>a, .blog_post_quote:after,
            .item-img-overlay .portfolio-zoom, body .white-text .feature-details a:hover{
            color: {{skin_color}};
            }
            ::selection
            {
            background-color:{{skin_color}};
            }
            ::-moz-selection
            {
            background-color:{{skin_color}};
            }
            .item-img-overlay  .portfolio-zoom:hover, .tab a.active {
            color: {{skin_color}} !important;
            }
            .callout-box{
            border-left-color: {{skin_color}}
            }
            .feature .feature-content,.team-member .team-member-content{
            border-top-color: {{skin_color}};
            }

            .progress .progress-bar{
            background-color: {{skin_color}};
            }
            .blog-masonry .blog_post_quote{
            border-top: 2px solid {{skin_color}};
            }
            .tab a.active:after {
            background-color:{{skin_color}};
            border-color: {{skin_color}};
            }
            .blog-post .blog-post-type,.subscribe-button{
            background: {{skin_color}};
            }
            .blog-post-details-item.blog-post-details-item-right a:hover i,.blog_post_quote .quote-author,.pagination > li > a.prev, 
            .pagination > li > a.next, .pagination > li > a:hover, .pagination > li > a.current,.testimonial-by-name{
            color: {{skin_color}};
            }
            .skin-text{
            color: {{skin_color}} !important;
            }
            body .section-content.section-image{
            background-color: {{skin_color_rgba}};
            }

            .item-img-overlay .item_img_overlay_content{
            background: {{skin_color}};
            }
            .button, .body-wrapper input[type="submit"], .body-wrapper input[type="button"], .section-content.section-color-bg,.content-box.content-style4 h4 i
            ,button.button-main,.body-wrapper .tags a:hover,.callout-box.callout-box2, .blog-search .blog-search-button, .top-title-wrapper, .testimonial-big,
            .content-style3:hover .content-style3-icon, table.table thead tr, .price-table .price-label-badge, .price-table .price-table-header, .section-subscribe .subscribe-button.icon-envelope-alt{
            background-color: {{skin_color}};
            }
            .rev-slider-full .button.btn-flat, .rev-slider-fixed .button.btn-flat{
            background-color: {{skin_color}};
            }
            .btn, input[type="submit"], input[type="button"], button.btn,.btn-primary{
            background-color: {{skin_color}};
            }
            .btn:hover, input[type="submit"]:hover, input[type="button"]:hover, button.btn:hover,.btn-primary:hover{
            background-color: {{skin_color}};

            }
            .btn:focus, input[type="submit"]:focus, input[type="button"]:focus, button.btn:focus,.btn-primary:focus{
            background-color: {{skin_color}};
            }
            .blog-post-icon,.comments-list .children .comment:before,.portfolio-filter li a.portfolio-selected, 
            .portfolio-filter li a:hover, .dropcaps.dropcaps-color-style, .carousel-container .carousel-icon:hover,
            .team-member-image.img-overlay .item_img_overlay_content{
            background-color: {{skin_color}};
            }
            .comments-list .children .comment:after{
            border-color: transparent transparent transparent {{skin_color}};;
            }

            .highlighted-text{
            background-color: {{skin_color}};
            color: #ffffff;
            }
            .icons-list.colored-list li:before, .blog-post-date .day, .blog-post-date .month, strong.colored, span.colored 
            ,.content-style3 .content-style3-icon, .content-box h4 i{
            color: {{skin_color}};
            }
            .content-box.content-style2 h4 i,.content-box.style5 h4 i{
            border-color: {{skin_color}};
            color: {{skin_color}};
            }
            .content-box.content-style2:hover i,.content-box.style5:hover i{
            background-color: {{skin_color}};
            }
            .pagination .prev, .pagination .next, .pagination a:hover, .pagination a.current, .price-table .price-label{
            color: {{skin_color}};
            }


            /* Footer Area Colors */

            .footer .copyright{
            border-color: {{skin_color}};
            }

            .flickr_badge_wrapper .flickr_badge_image img:hover{
            border-color: {{skin_color}};
            }


        </script>

        <script type="text/javascript"> var $default_skin = "light-blue";</script><div id="skin-chooser-container" class="skin-chooser-container hide-skin-chooser">
            <a href="" target="_blank" class="skin-save" id="skin-save"><i class="icon-arrow-down"></i> DOWNLOAD NEW SKIN </a>
            <div class="skin-chooser">

                <div class="skin-chooser-label">
                    Layout mode
                </div>
                <div class="skin-chooser-row skin-chooser-row-open">
                    <select id="layout-mode">
                        <option value="">Wide</option>
                        <option value="boxed">Boxed</option>
                    </select>
                </div>
                <div class="skin-chooser-label">
                    Predefined Skins
                </div>
                <div class="skin-chooser-row skin-chooser-row-open">
                    <div title="light-blue" class="predefined-skins light-blue" data-skinname="light-blue" style="background-color: #279FBB"></div>
                    <div title="green" class="predefined-skins green" data-skinname="green" style="background-color: #26ae91"></div>
                    <div title="red" class="predefined-skins red" data-skinname="red" style="background-color: #d14836"></div>
                    <div title="pink" class="predefined-skins pink" data-skinname="pink" style="background-color: #bb3b6b"></div>
                    <div title="light-purple" class="predefined-skins light-purple" data-skinname="light-purple" style="background-color: #bba6bb"></div>
                    <div title="orange" class="predefined-skins orange" data-skinname="orange" style="background-color: #dd6153"></div>
                    <div title="bright-green" class="predefined-skins bright-green" data-skinname="bright-green" style="background-color: #8cbb75"></div>
                    <div title="dark-blue" class="predefined-skins dark-blue" data-skinname="dark-blue" style="background-color: #2580b1"></div>
                    <div title="oil" class="predefined-skins oil" data-skinname="oil" style="background-color: #9b9e40"></div>
                    <div title="black" class="predefined-skins black" data-skinname="black" style="background-color: #5f5d5c"></div>
                    <div title="light-brown" class="predefined-skins light-brown" data-skinname="light-brown" style="background-color: #d06f71"></div>
                    <div title="coffee" class="predefined-skins coffee" data-skinname="coffee" style="background-color: #9d634c"></div>
                </div>

                <div class="skin-chooser-label">
                    Custom Colors
                </div>

                <div class="skin-chooser-row skin-chooser-row-open">
                    <div class="skin-chooser-elements">
                        <div class="color-chooser-group-label">
                            <i class="icon-angle-right"></i> Choose your skin color                    </div>
                        <div class="color-chooser-input">
                            <input type="text" name="skin_color" id="skin_color" class="input-colorpicker"
                                   value="#279FBB"/>
                            <label class="color-preview" for="skin_color"
                                   style="background-color: #279FBB"></label>
                        </div>
                    </div>
                </div>
                <div class="skin-chooser-label">
                    Patterns Background
                </div>

                <div class="skin-chooser-row skin-chooser-row-open">
                    <div class="pattern pattern-black-twill" data-body-class="bgpattern-black-twill"></div>
                    <div class="pattern pattern-dark-fish-skin" data-body-class="bgpattern-dark-fish-skin"></div>
                    <div class="pattern pattern-escheresque-ste" data-body-class="bgpattern-escheresque-ste"></div>
                    <div class="pattern pattern-grey" data-body-class="bgpattern-grey"></div>
                    <div class="pattern pattern-knitting250px" data-body-class="bgpattern-knitting250px"></div>
                    <div class="pattern pattern-p4" data-body-class="bgpattern-p4"></div>
                    <div class="pattern pattern-p5" data-body-class="bgpattern-p5"></div>
                    <div class="pattern pattern-p6" data-body-class="bgpattern-p6"></div>
                    <div class="pattern pattern-ps-neutral" data-body-class="bgpattern-ps-neutral"></div>
                    <div class="pattern pattern-pw-maze-white" data-body-class="bgpattern-pw-maze-white"></div>
                    <div class="pattern pattern-pw-pattern" data-body-class="bgpattern-pw-pattern"></div>
                    <div class="pattern pattern-retina-wood" data-body-class="bgpattern-retina-wood"></div>
                    <div class="pattern pattern-shattered" data-body-class="bgpattern-shattered"></div>
                    <div class="pattern pattern-subtle-dots" data-body-class="bgpattern-subtle-dots"></div>
                    <div class="pattern pattern-subtle-surface" data-body-class="bgpattern-subtle-surface"></div>
                    <div class="pattern pattern-whitediamond" data-body-class="bgpattern-whitediamond"></div>
                </div>

                <div class="skin-chooser-label">
                    Images Background
                </div>
                <div class="skin-chooser-row skin-chooser-row-open">
                    <div class="image-chooser tuscany-thumb" data-body-class="bg-tuscany"></div>
                    <div class="image-chooser tracks-thumb" data-body-class="bg-tracks"></div>
                    <div class="image-chooser blurred-lines-thumb" data-body-class="bg-blurred-lines"></div>
                    <div class="image-chooser mountain-thumb" data-body-class="bg-mountain"></div>
                </div>



            </div>
            <a href="#" class="arrow-left  icon-settings" id="show_hide_skin_chooser"></a>

        </div>
        <!-- end remprod -->


        <div id="wrapper"  >

            <div class="top_wrapper">
                <div class="top-bar">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-7">
                                <div class="call-us top-bar-block">
                                    <i class="icon-phone"></i>
                                    <span>
                                        Call us at 1- 888 - 999
                                    </span>
                                </div>
                                <div class="mail-us top-bar-block">
                                    <i class="icon-email"></i>                            
                                    <span>
                                        E-mail: info@example.com
                                    </span>                            
                                </div>

                            </div>
                            <div class="col-sm-5">

                                <!-- Search Box -->
                                <div class="searchbox">
                                    <form action="#" method="get">
                                        <input type="text" class="searchbox-inputtext" id="searchbox-inputtext" name="s" placeholder="Search.."/>
                                        <label class="searchbox-icon" for="searchbox-inputtext"></label>
                                        <input type="submit" class="searchbox-submit" value="Search"/>
                                    </form>
                                </div>
                                <!-- //Search Box// -->
                                <div class="social-icons">
                                    <ul>
                                        <li>
                                            <a href="#" target="_blank" class="social-media-icon facebook-icon" data-original-title="facebook">facebook</a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank" class="social-media-icon twitter-icon" data-original-title="twitter">twitter</a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank" class="social-media-icon googleplus-icon" data-original-title="googleplus">googleplus</a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank" class="social-media-icon pininterest-icon" data-original-title="pininterest">pininterest</a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank" class="social-media-icon dribble-icon" data-original-title="dribble">dribble</a>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Header -->
                <header id="header">
                    <div class="container">

                        <div class="row header">

                            <!-- Logo -->
                            <div class="col-xs-2 logo">
                                <a href="home-version1.html">
                                    <img src="images/main_logo.png" alt="Kanzi HTML5 Template"/>
                                </a>
                            </div>
                            <!-- //Logo// -->


                            <!-- Navigation File -->
                            <div class="col-md-10">

                                <!-- Mobile Button Menu -->
                                <div class="mobile-menu-button">
                                    <i class="fa fa-list-ul"></i>
                                </div>
                                <!-- //Mobile Button Menu// -->




                                <nav>
                                    <ul class="navigation">
                                        <li>
                                            <a href="home-version1.html">
                                                <span class="label-nav">
                                                    Home
                                                </span>
                                                <span class="label-nav-sub" data-hover="Examples">
                                                    Examples
                                                </span>
                                            </a>
                                            <ul>
                                                <li>
                                                    <a href="home-version1.html">Home version 1</a>
                                                </li>
                                                <li>
                                                    <a href="home-version2.html">Home version 2</a>
                                                </li>
                                                <li>
                                                    <a href="home-version3.html">Home version 3</a>
                                                </li>
                                                <li>
                                                    <a href="home-version4.html">Home Version 4</a>
                                                </li>                                    
                                                <li>
                                                    <a href="home-version5.html">Home Version 5</a>
                                                </li>                                    
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="about-us.html">
                                                <span class="label-nav">
                                                    Pages
                                                </span>
                                                <span class="label-nav-sub" data-hover="Layouts">
                                                    Layouts
                                                </span>
                                            </a>
                                            <ul>
                                                <li>
                                                    <a href="about-us.html"> About </a>
                                                </li>
                                                <li>
                                                    <a href="services.html"> Services </a>
                                                </li>
                                                <li>
                                                    <a href="team.html"> Our Team </a>
                                                </li>
                                                <li>
                                                    <a href="sidebar-navigation.html"> Sidebar Navigation </a>
                                                </li>
                                                <li>
                                                    <a href="faq.html"> FAQ </a>
                                                </li>
                                                <li>
                                                    <a href="Contact.html">Contact Us </a>
                                                </li>
                                                <li>
                                                    <a href="sign-up.html">Sign Up </a>
                                                </li>
                                                <li>
                                                    <a href="sign-in.html">Sign In</a>
                                                </li>
                                                <li>
                                                    <a href="404.html"> 404 </a>
                                                </li>

                                            </ul>
                                        </li>
                                        <li>
                                            <a href="blog.html">
                                                <span class="label-nav">
                                                    Blog
                                                </span>
                                                <span class="label-nav-sub" data-hover="The News">
                                                    the news
                                                </span>
                                            </a>
                                            <ul>
                                                <li>
                                                    <a href="blog.html">Blog</a>
                                                </li>
                                                <li>
                                                    <a href="blog-masonry.html">Blog Masonry</a>
                                                </li>
                                                <li>
                                                    <a href="blog-single.html">Blog Single</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="portfolio-two-columns.html">
                                                <span class="label-nav">
                                                    Portfolio
                                                </span>
                                                <span class="label-nav-sub" data-hover="Our Work">
                                                    Our Work
                                                </span>
                                            </a>
                                            <ul>
                                                <li>
                                                    <a href="portfolio-two-columns.html">2 Column</a>
                                                </li>
                                                <li>
                                                    <a href="portfolio-three-columns.html">3 Column</a>
                                                </li>
                                                <li>
                                                    <a href="portfolio-four-columns.html">4 Column</a>
                                                </li>
                                                <li>
                                                    <a href="portfolio-single.html">Single</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="elements.html">
                                                <span class="label-nav">
                                                    Shortcodes
                                                </span>
                                                <span class="label-nav-sub" data-hover="Elements">
                                                    Elements
                                                </span>
                                            </a>
                                            <ul>
                                                <li>
                                                    <a href="accordions.html">Accordions & Toggles</a>
                                                </li>
                                                <li>
                                                    <a href="columns.html">Columns</a>
                                                </li>                                    
                                                <li>
                                                    <a href="elements.html">Elements</a>
                                                </li>                                    
                                                <li>
                                                    <a href="full-block-content.html">Full Block Content</a>
                                                </li>
                                                <li>
                                                    <a href="icon-boxes.html">Icon Boxes</a>
                                                </li>
                                                <li>
                                                    <a href="icons.html">Icons</a>
                                                </li>                                    
                                                <li>
                                                    <a href="price-tables.html">Pricing Tables</a>
                                                </li>                                    
                                                <li>
                                                    <a href="tabs.html">Tabs</a>
                                                </li>
                                                <li>
                                                    <a href="testimonials.html">Testimonials</a>
                                                </li>

                                                <li>
                                                    <a href="typography.html">Typography</a>
                                                </li>

                                            </ul>
                                        </li>
                                    </ul>

                                </nav>

                                <!-- Mobile Nav. Container -->
                                <ul class="mobile-nav">
                                    <li class="responsive-searchbox">
                                        <!-- Responsive Nave -->
                                        <form action="#" method="get">
                                            <input type="text" class="searchbox-inputtext" id="searchbox-inputtext-mobile" name="s" />
                                            <button class="icon-search"></button>
                                        </form>
                                        <!-- //Responsive Nave// -->
                                    </li>
                                </ul>
                                <!-- //Mobile Nav. Container// -->
                            </div>
                            <!-- Nav -->

                        </div>



                    </div>
                </header>
                <!-- //Header// -->
                <div class="top-title-wrapper">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <div class="page-info">
                                    <h1 class="h1-page-title">Elements</h1>


                                    <!-- BreadCrumb -->
                                    <div class="breadcrumb-container">
                                        <ol class="breadcrumbs">
                                            <li>
                                                <a href="">Home</a>
                                            </li>
                                            <li class="active">Elements</li>
                                        </ol>
                                    </div>
                                    <!-- BreadCrumb -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--.top wrapper end -->

            <div class="loading-container">
                <div class="spinner">
                    <div class="double-bounce1"></div>
                    <div class="double-bounce2"></div>
                </div>
            </div>


            <div class="content-wrapper hide-until-loading"><div class="body-wrapper">
                    <div class="container">

                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <div class="title-block clearfix">
                                    <h3 class="h3-body-title">CallOut Boxes</h3>
                                    <div class="title-seperator"></div>
                                </div><div class="callout-box clearfix">

                                    <button href="#" class="btn btn-lg">Purchase Theme</button>

                                    <div class="callout-content">
                                        <h2>Kanzi is powerful and Responsive Multi-Purpose theme</h2>    
                                    </div>


                                </div>
                            </div>
                        </div>
                        <div class="space-sep40"></div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <div class="callout-box callout-box2 clearfix">

                                    <button href="#" class="btn btn-lg btn-default">Purchase Theme</button>

                                    <div class="callout-content">
                                        <h2>Kanzi theme is the theme that you have been waiting for</h2>    
                                    </div>


                                </div>
                            </div>
                        </div>         
                        <div class="space-sep40"></div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <div class="callout-box image-box clearfix">

                                    <button href="#" class="btn btn-lg btn-outlined">Purchase Theme</button>

                                    <div class="callout-content">
                                        <h2>Kanzi theme is the theme that you have been waiting for</h2>    
                                    </div>


                                </div>
                            </div>
                        </div>         

                        <div class="space-sep80"></div>        

                        <div class="row">

                            <div class="col-md-12 col-sm-12">
                                <div class="title-block clearfix">
                                    <h3 class="h3-body-title">Social Media</h3>
                                    <div class="title-seperator"></div>
                                </div>

                                <div class="social-icons">

                                    <ul>
                                        <li>
                                            <a href="#" title="facebook" target="_blank" class="social-media-icon facebook-icon">facebook</a>
                                        </li>
                                        <li>
                                            <a href="#" title="youtube" target="_blank" class="social-media-icon youtube-icon">youtube</a>
                                        </li>
                                        <li>
                                            <a href="#" title="twitter" target="_blank" class="social-media-icon twitter-icon">twitter</a>
                                        </li>
                                        <li>
                                            <a href="#" title="tumblr" target="_blank" class="social-media-icon tumblr-icon">tumblr</a>
                                        </li>
                                        <li>
                                            <a href="#" title="skype" target="_blank" class="social-media-icon skype-icon">skype</a>
                                        </li>
                                        <li>
                                            <a href="#" title="mail" target="_blank" class="social-media-icon mail-icon">mail</a>
                                        </li>
                                        <li>
                                            <a href="#" title="apple" target="_blank" class="social-media-icon apple-icon">apple</a>
                                        </li>
                                        <li>
                                            <a href="#" title="reddit" target="_blank" class="social-media-icon reddit-icon">reddit</a>
                                        </li>
                                        <li>
                                            <a href="#" title="aim" target="_blank" class="social-media-icon aim-icon">aim</a>
                                        </li>
                                        <li>
                                            <a href="#" title="behance" target="_blank" class="social-media-icon behance-icon">behance</a>
                                        </li>
                                        <li>
                                            <a href="#" title="blogger" target="_blank" class="social-media-icon blogger-icon">blogger</a>
                                        </li>
                                        <li>
                                            <a href="#" title="devianart" target="_blank" class="social-media-icon devianart-icon">devianart</a>
                                        </li>
                                        <li>
                                            <a href="#" title="digg" target="_blank" class="social-media-icon digg-icon">digg</a>
                                        </li>
                                        <li>
                                            <a href="#" title="dribble" target="_blank" class="social-media-icon dribble-icon">dribble</a>
                                        </li>
                                        <li>
                                            <a href="#" title="ember" target="_blank" class="social-media-icon ember-icon">ember</a>
                                        </li>
                                        <li>
                                            <a href="#" title="evernote" target="_blank" class="social-media-icon evernote-icon">evernote</a>
                                        </li>
                                        <li>
                                            <a href="#" title="flickr" target="_blank" class="social-media-icon flickr-icon">flickr</a>
                                        </li>
                                        <li>
                                            <a href="#" title="forrst" target="_blank" class="social-media-icon forrst-icon">forrst</a>
                                        </li>
                                        <li>
                                            <a href="#" title="googleplus" target="_blank" class="social-media-icon googleplus-icon">googleplus</a>
                                        </li>
                                        <li>
                                            <a href="#" title="instagram" target="_blank" class="social-media-icon instagram-icon">instagram</a>
                                        </li>
                                        <li>
                                            <a href="#" title="dropbox" target="_blank" class="social-media-icon dropbox-icon">dropbox</a>
                                        </li>
                                        <li>
                                            <a href="#" title="soundcloud" target="_blank" class="social-media-icon soundcloud-icon">soundcloud</a>
                                        </li>
                                        <li>
                                            <a href="#" title="lastfm" target="_blank" class="social-media-icon lastfm-icon">lastfm</a>
                                        </li>
                                        <li>
                                            <a href="#" title="linkedin" target="_blank" class="social-media-icon linkedin-icon">linkedin</a>
                                        </li>
                                        <li>
                                            <a href="#" title="myspace" target="_blank" class="social-media-icon myspace-icon">myspace</a>
                                        </li>
                                        <li>
                                            <a href="#" title="paypal" target="_blank" class="social-media-icon paypal-icon">paypal</a>
                                        </li>
                                        <li>
                                            <a href="#" title="pininterest" target="_blank" class="social-media-icon pininterest-icon">pininterest</a>
                                        </li>
                                        <li>
                                            <a href="#" title="rss" target="_blank" class="social-media-icon rss-icon">rss</a>
                                        </li>
                                        <li>
                                            <a href="#" title="sharethis" target="_blank" class="social-media-icon sharethis-icon">sharethis</a>
                                        </li>
                                        <li>
                                            <a href="#" title="vimeo" target="_blank" class="social-media-icon vimeo-icon">vimeo</a>
                                        </li>
                                        <li>
                                            <a href="#" title="wordpress" target="_blank" class="social-media-icon wordpress-icon">wordpress</a>
                                        </li>
                                        <li>
                                            <a href="#" title="yahoo" target="_blank" class="social-media-icon yahoo-icon">yahoo</a>
                                        </li>
                                        <li>
                                            <a href="#" title="zerply" target="_blank" class="social-media-icon zerply-icon">zerply</a>
                                        </li>

                                    </ul>

                                </div>
                            </div>

                        </div>

                        <div class="space-sep80"></div>        


                        <div class="title-block clearfix">
                            <h3 class="h3-body-title">Dividers</h3>
                            <div class="title-seperator"></div>
                        </div>    <div class="divider divider-shadow"></div>
                        <div class="divider stripe-1"></div>
                        <div class="divider stripe-2"></div>
                        <div class="divider stripe-3"></div>
                        <div class="divider stripe-4"></div>
                        <div class="divider stripe-5"></div>

                        <div class="space-sep80"></div>        

                        <div class="title-block clearfix">
                            <h3 class="h3-body-title">Buttons</h3>
                            <div class="title-seperator"></div>
                        </div><div class="row">

                            <div class="col-md-2 col-sm-2">
                                <button href="#" class="btn btn-sm btn-primary">Custom</button>
                            </div>

                            <div class="col-md-2 col-sm-2">
                                <button href="#" class="btn btn-sm btn-default">White</button>
                            </div>

                            <div class="col-md-2 col-sm-2">
                                <button href="#" class="btn btn-sm btn-red">Red</button>
                            </div>

                            <div class="col-md-2 col-sm-2">
                                <button href="#" class="btn btn-sm btn-blue">Blue</button>
                            </div>

                            <div class="col-md-2 col-sm-2">
                                <button href="#" class="btn btn-sm btn-green">Green</button>
                            </div>

                            <div class="col-md-2 col-sm-2">
                                <button href="#" class="btn btn-sm btn-yellow">Yellow</button>
                            </div>

                        </div>

                        <div class="space-sep"></div>

                        <div class="row">

                            <div class="col-md-2 col-sm-2">
                                <button href="#" class="btn btn-primary">Custom</button>
                            </div>

                            <div class="col-md-2 col-sm-2">
                                <button href="#" class="btn btn-default">White</button>
                            </div>

                            <div class="col-md-2 col-sm-2">
                                <button href="#" class="btn btn-red">Red</button>
                            </div>

                            <div class="col-md-2 col-sm-2">
                                <button href="#" class="btn btn-blue">Blue</button>
                            </div>

                            <div class="col-md-2 col-sm-2">
                                <button href="#" class="btn btn-green">Green</button>
                            </div>

                            <div class="col-md-2 col-sm-2">
                                <button href="#" class="btn btn-yellow">Yellow</button>
                            </div>

                        </div>

                        <div class="space-sep"></div>

                        <div class="row">

                            <div class="col-md-2 col-sm-2">
                                <button href="#" class="btn btn-lg btn-primary">Custom</button>
                            </div>

                            <div class="col-md-2 col-sm-2">
                                <button href="#" class="btn btn-lg btn-default">White</button>
                            </div>

                            <div class="col-md-2 col-sm-2">
                                <button href="#" class="btn btn-lg btn-red">Red</button>
                            </div>

                            <div class="col-md-2 col-sm-2">
                                <button href="#" class="btn btn-lg btn-blue">Blue</button>
                            </div>

                            <div class="col-md-2 col-sm-2">
                                <button href="#" class="btn btn-lg btn-green">Green</button>
                            </div>

                            <div class="col-md-2 col-sm-2">
                                <button href="#" class="btn btn-lg btn-yellow">Yellow</button>
                            </div>

                        </div>        
                        <div class="space-sep80"></div>        

                        <div class="row">

                            <div class="col-md-12 col-sm-12">
                                <div class="title-block clearfix">
                                    <h3 class="h3-body-title">Info Messages</h3>
                                    <div class="title-seperator"></div>
                                </div>    



                                <div class="alert alert-success">
                                    <div class="msg">Lorem ipsum dolor sit amet, in pri offendit ocurreret. Vix sumo ferri an. pfs adodio fugit delenit ut qui. Omittam suscipiantur ex  vel,ex audiam  intellegat gfIn labitur discere eos, nam an feugiat voluptua.</div>
                                    <a href="#" class="alert-remove"><i class="icon-trash"></i></a>
                                </div>

                                <div class="space-sep20"></div>

                                <div class="alert alert-info">
                                    <div class="msg">Lorem ipsum dolor sit amet, in pri offendit ocurreret. Vix sumo ferri an. pfs adodio fugit delenit ut qui. Omittam suscipiantur ex  vel,ex audiam  intellegat gfIn labitur discere eos, nam an feugiat voluptua.</div>
                                </div>

                                <div class="space-sep20"></div>

                                <div class="alert alert-warning">
                                    <div class="msg">Lorem ipsum dolor sit amet, in pri offendit ocurreret. Vix sumo ferri an. pfs adodio fugit delenit ut qui. Omittam suscipiantur ex  vel,ex audiam  intellegat gfIn labitur discere eos, nam an feugiat voluptua.</div>
                                </div>

                                <div class="space-sep20"></div>

                                <div class="alert alert-danger">
                                    <div class="msg">Lorem ipsum dolor sit amet, in pri offendit ocurreret. Vix sumo ferri an. pfs adodio fugit delenit ut qui. Omittam suscipiantur ex  vel,ex audiam  intellegat gfIn labitur discere eos, nam an feugiat voluptua.</div>
                                </div>

                                <div class="space-sep20"></div>




                            </div>

                        </div>        

                        <div class="space-sep80"></div> 
                    </div> 

                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <div class="title-block clearfix">
                                    <h3 class="h3-body-title">Dropcaps</h3>
                                    <div class="title-seperator"></div>
                                </div>                
                                <p>
                                    <span class="dropcaps">P</span>hasellus leo dolor, tempus non, auctor et, hendrerit quis, nisi. Curabitur ligula sapien, tincidunt non, euismod vitae, posuere imperdiet
                                    Vix sumo ferri an. pfs adodio fugit delenit ut qu
                                </p>
                                <p>
                                    <span class="dropcaps dropcaps-color-style">P</span>hasellus leo dolor, tempus non, auctor et, hendrerit quis, nisi. Curabitur ligula sapien, tincidunt non, euismod vitae, posuere imperdiet
                                    Vix sumo ferri an. pfs adodio fugit delenit ut qu
                                </p>
                            </div>

                            <div class="col-md-6 col-sm-6">
                                <div class="title-block clearfix">
                                    <h3 class="h3-body-title">Slider</h3>
                                    <div class="title-seperator"></div>
                                </div><div class="cycle-slideshow frame1"
                                           data-cycle-slides="> .slider-img"
                                           data-cycle-swipe="true"
                                           data-cycle-prev=".cycle-prev"
                                           data-cycle-next=".cycle-next"
                                           data-cycle-overlay-fx-out="slideUp"
                                           data-cycle-overlay-fx-in="slideDown"
                                           data-cycle-timeout=0>
                                    <div class="fa fa-chevron-right cycle-next"></div>
                                    <div class="fa fa-chevron-left cycle-prev"></div>

                                    <div class="cycle-pager"></div>

                                    <!-- slider item -->
                                    <div class="slider-img">

                                        <img src="images/placeholders/image-placeholder.jpg" alt="image-placeholder.jpg"/>
                                    </div>
                                    <!-- //slider item// -->
                                    <!-- slider item -->
                                    <div class="slider-img">

                                        <img src="images/placeholders/image-placeholder.jpg" alt="image-placeholder.jpg"/>
                                    </div>
                                    <!-- //slider item// -->
                                </div>

                            </div>  
                        </div>
                        <div class="space-sep80"></div>        


                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <div class="title-block clearfix">
                                    <h3 class="h3-body-title">A Lot Of Icons Lists</h3>
                                    <div class="title-seperator"></div>
                                </div><ul class="icons-list check-1 colored-list">
                                    <li>Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus</li>
                                </ul><ul class="icons-list check-2 colored-list">
                                    <li>Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem</li>
                                </ul><ul class="icons-list hand colored-list">
                                    <li>Sed fringilla mauris sit amet nibh</li>
                                </ul><ul class="icons-list remove colored-list">
                                    <li>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero</li>
                                </ul><ul class="icons-list file colored-list">
                                    <li>Aenean imperdiet. Etiam ultricies nisi vel augue.</li>
                                </ul><ul class="icons-list arrow colored-list">
                                    <li>Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus</li>
                                </ul><ul class="icons-list asterisk colored-list">
                                    <li>Aenean imperdiet. Etiam ultricies nisi vel augue.</li>
                                </ul><ul class="icons-list circle-blank colored-list">
                                    <li>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero</li>
                                </ul><ul class="icons-list circle colored-list">
                                    <li>Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus</li>
                                </ul><ul class="icons-list pencil colored-list">
                                    <li>Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus</li>
                                </ul>            </div>

                            <div class="col-md-6 col-sm-6">
                                <div class="title-block clearfix">
                                    <h3 class="h3-body-title">Progress Bars</h3>
                                    <div class="title-seperator"></div>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar animated" role="progressbar" aria-valuenow="85%" 
                                         aria-valuemin="0" aria-valuemax="100"
                                         data-animtype="animate-progress"
                                         data-animrepeat="0">

                                        <span class="sr-only">WordPress</span>
                                    </div>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar animated" role="progressbar" aria-valuenow="90%" 
                                         aria-valuemin="0" aria-valuemax="100"
                                         data-animtype="animate-progress"
                                         data-animrepeat="0">

                                        <span class="sr-only">Graphic Design</span>
                                    </div>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar animated" role="progressbar" aria-valuenow="95%" 
                                         aria-valuemin="0" aria-valuemax="100"
                                         data-animtype="animate-progress"
                                         data-animrepeat="0">

                                        <span class="sr-only">Javascript</span>
                                    </div>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar animated" role="progressbar" aria-valuenow="80%" 
                                         aria-valuemin="0" aria-valuemax="100"
                                         data-animtype="animate-progress"
                                         data-animrepeat="0">

                                        <span class="sr-only">HTML5 / CSS3</span>
                                    </div>
                                </div>

                            </div>  
                        </div>

                        <div class="space-sep80"></div>        
                    </div>


                </div>
                <div class="section-content bottom-body clients-section">
                    <div class="container">

                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <ul class="bottom-body-clients">
                                    <li class="animated" data-animtype="bounceIn" data-animrepeat="0" data-animdelay="0.2s"><img src="images/placeholders/clients/logo1.png" alt="Logo" class="img-responsive client-image" /></li>
                                    <li class="animated" data-animtype="bounceIn" data-animrepeat="0" data-animdelay="0.3s"><img src="images/placeholders/clients/logo3.png" alt="Logo" class="img-responsive client-image" /></li>
                                    <li class="animated" data-animtype="bounceIn" data-animrepeat="0" data-animdelay="0.4s"><img src="images/placeholders/clients/logo4.png" alt="Logo" class="img-responsive client-image" /></li>
                                    <li class="animated" data-animtype="bounceIn" data-animrepeat="0" data-animdelay="0.5s"><img src="images/placeholders/clients/logo2.png" alt="Logo" class="img-responsive client-image" /></li>
                                    <li class="animated" data-animtype="bounceIn" data-animrepeat="0" data-animdelay="0.6s"><img src="images/placeholders/clients/logo5.png" alt="Logo" class="img-responsive client-image" /></li>
                                </ul>            </div>
                        </div>

                    </div>

                </div>
            </div><!--.content-wrapper end -->
            <footer>
                <div class="footer">

                    <div class="container">
                        <div class="footer-wrapper">
                            <div class="row">


                                <!-- Footer Col. -->
                                <div class="col-md-3 col-sm-3 footer-col">
                                    <div class="footer-content">
                                        <div class="footer-content-logo">
                                            <img src="images/main_logo.png" alt=""/>
                                        </div>
                                        <div class="footer-content-text">
                                            <p>Lorem ipsum dolor sit amet nec, consectetuer adipiscing elit. Aenean commodo ligula eget
                                                dolor.</p>
                                            <p>Lorem ipsum dolor sit amet nec, consectetuer adipiscing elit. Aenean commodo ligula eget
                                                dolor.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- //Footer Col.// -->


                                <!-- Footer Col. -->
                                <div class="col-md-3 col-sm-3 footer-col">
                                    <div class="footer-title">
                                        Recent Tweets
                                    </div>
                                    <div class="footer-content footer-recent-tweets-container">
                                        <ul class="tweetList footer-recent-tweets">
                                            <li class="tweet_content item">
                                                <p>Grab a copy of the popular Boomerang theme for $10 until its next release! </p>
                                                <p class="timestamp">2 days ago</p>
                                            </li>
                                            <li class="tweet_content item">
                                                <p>Newest Blog Awesome post: Stacking Text and Icons <a href="http://t.co/1qRP8K1wjG">Check it</a></p>
                                                <p class="timestamp">4 days ago</p>
                                            </li>
                                        </ul>                            

                                    </div>
                                </div>
                                <!-- //Footer Col.// -->


                                <!-- Footer Col. -->
                                <div class="col-md-3 col-sm-3 footer-col">
                                    <div class="footer-title">
                                        Links
                                    </div>
                                    <div class="footer-content">
                                        <ul class="footer-category-list">
                                            <li>
                                                <a href="">Lorem Ipsum</a>
                                            </li>
                                            <li>
                                                <a href="">Dolor Sit Amet</a>
                                            </li>
                                            <li>
                                                <a href="">Nullam dignissim</a>
                                            </li>
                                            <li>
                                                <a href="">Lorem Ipsum</a>
                                            </li>
                                            <li>
                                                <a href="">Lorem Ipsum</a>
                                            </li>
                                            <li>
                                                <a href="">Dolor Sit Amet</a>
                                            </li>
                                            <li>
                                                <a href="">Dolor Sit Amet</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- //Footer Col.// -->


                                <!-- Footer Col. -->
                                <div class="col-md-3 col-sm-3 footer-col">
                                    <div class="footer-title">
                                        Photostream
                                    </div>
                                    <div class="footer-content">
                                        <div class="flickr_badge_wrapper">
                                            <script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?count=9&display=latest&size=s&layout=x&source=all_tag&tag=Sky,scrappers" id="flicker-images"></script>                            
                                        </div>
                                        <!-- //Footer Col.// -->

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="copyright">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 center-text">
                                    <div class="copyright-text">&copy; 2013 Kanzi Theme | Theme Developed By <a href="http://www.activeaxon.com" target="_blank">ActiveAxon</a></div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </footer>

        </div><!-- wrapper end -->

        <script type="text/javascript" src="js/_jq.js"></script>

        <script type="text/javascript" src="js/_jquery.placeholder.js"></script>

        <!-- remprod -->
        <script type="text/javascript" src="js/_colorpicker.js"></script>
        <script type="text/javascript" src="js/_handlebars.js"></script>
        <script type="text/javascript" src="js/_skins.js"></script>
        <script type="text/javascript" src="js/_skinchooser.js"></script>
        <!-- end remprod -->




        <script src="js/activeaxon_menu.js" type="text/javascript"></script> 
        <script src="js/animationEnigne.js" type="text/javascript"></script> 
        <script src="js/bootstrap.min.js" type="text/javascript"></script> 
        <script src="js/ie-fixes.js" type="text/javascript"></script> 
        <script src="js/jq.appear.js" type="text/javascript"></script> 
        <script src="js/jquery.base64.js" type="text/javascript"></script> 
        <script src="js/jquery.carouFredSel-6.2.1-packed.js" type="text/javascript"></script> 
        <script src="js/jquery.cycle.js" type="text/javascript"></script> 
        <script src="js/jquery.cycle2.carousel.js" type="text/javascript"></script> 
        <script src="js/jquery.easing.1.3.js" type="text/javascript"></script> 
        <script src="js/jquery.easytabs.js" type="text/javascript"></script> 
        <script src="js/jquery.infinitescroll.js" type="text/javascript"></script> 
        <script src="js/jquery.isotope.js" type="text/javascript"></script> 
        <script src="js/jquery.prettyPhoto.js" type="text/javascript"></script> 
        <script src="js/jQuery.scrollPoint.js" type="text/javascript"></script> 
        <script src="js/jquery.themepunch.plugins.min.js" type="text/javascript"></script> 
        <script src="js/jquery.themepunch.revolution.js" type="text/javascript"></script> 
        <script src="js/jquery.tipsy.js" type="text/javascript"></script> 
        <script src="js/jquery.validate.js" type="text/javascript"></script> 
        <script src="js/jQuery.XDomainRequest.js" type="text/javascript"></script> 
        <script src="js/kanzi.js" type="text/javascript"></script> 
        <script src="js/retina.js" type="text/javascript"></script> 
        <script src="js/timeago.js" type="text/javascript"></script> 
        <script src="js/tweetable.jquery.js" type="text/javascript"></script> 
    </body>
</html>
